{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nouveau list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('nouveau_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
