{% extends "PidevReaBundle::Layout.html.twig" %}

{% block content %}
    <h1>Ajouter une zone</h1>
    <form action="" method="POST">
 {{ form_widget(form)}}
 <input type="submit" value="Enregistrer"/>
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('zone') }}">
            Back to the list
        </a>
    </li>
</ul>
