@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2'), url(KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}